<div class="container">
  <form [formGroup]="myForm" (ngSubmit)="submitHandler()">
    <div class="blog-form">
      <div class="small-div">
        <mat-form-field>
          <input matInput placeholder="title" formControlName="title" type="text">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Author" formControlName="author">
        </mat-form-field>
      </div>
      <editor apiKey="vffx7rg47lbz69xfs80qajyt04jjsxtihahl5gp1rsek0vnt" formControlName="body" [init]="{plugins: 'image'}"></editor>
      <div class="small-div">
        <mat-form-field>
          <input matInput placeholder="Category" formControlName="category">
        </mat-form-field>
        <mat-checkbox formControlName="hidden">Hidden</mat-checkbox>
        <hr>
        <button mat-raised-button color="primary" type="submit" [disabled]="myForm.invalid">Submit</button>
      </div>
    </div>
  </form>
</div>