<div class="resume-div">
  <div class="resume-heading">
    <h3>Resume</h3>
    <p><strong>Full Name:</strong> Vijaykumar Tapan Bhattacharji</p>
    <p><strong>Email:</strong> vijaykumarbhattacharji@hotmail.com</p>
    <p>
      <strong>Address:</strong> A9-705 Bramha Avenue, Shivneri Road, Pune,
      411048
    </p>
    <p><strong>Mobile No:</strong> 8956404820</p>
    <p><strong>Nationality:</strong> Indian, Passport No: S6651585</p>
  </div>
  <hr />
  <div class="resume-body">
    <h4>Education:</h4>
    <p>
      <strong>July, 2009 – March, 2013:</strong> Bachelor’s Degree in Computer Science
      Majoring in Computer Games Development from Staffordshire University.
    </p>
    <p> <strong>Course Completed:</strong> March 2013</p>
    <h4>Career Overview:</h4>
    <p>
      Software engineer with 5 years of industry experience with Python,
      Javascript, Angular, Node Js, HTML5 and CSS. Currently working as a
      freelance software engineer. I think of programming languages as
      tools to solve problems and hence I am not too attached to any one
      programming language. Throughout my career I have used programming
      languages that best suited the job at hand. I do slightly prefer
      python over other languages because of its ease of use. I enjoy
      solving logical problems and making video games in my spare time.
    </p>
    <h4>Technical Skills</h4>
    <table class="table">
      <thead>
        <tr>
          <td scope="col"><strong>Skill</strong></td>
          <td scope="col"><Strong>Total Experience</Strong></td>
          <td scope="col"><strong>Last Used</strong></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row">Javascript</td>
          <td>5 years</td>
          <td>2018</td>
        </tr>
        <tr>
          <td scope="row">Python</td>
          <td>2 years</td>
          <td>2018</td>
        </tr>
        <tr>
          <td scope="row">Mysql</td>
          <td>2 years</td>
          <td>2017</td>
        </tr>
        <tr>
          <td scope="row">HTML5/CSS</td>
          <td>5 years</td>
          <td>2018</td>
        </tr>
        <tr>
          <td scope="row">MongoDB</td>
          <td>2 years</td>
          <td>2018</td>
        </tr>
        <tr>
          <td scope="row">Unix</td>
          <td>3 years</td>
          <td>2018</td>
        </tr>
        <tr>
          <td scope="row">NodeJS</td>
          <td>3 years</td>
          <td>2018</td>
        </tr>
        <tr>
          <td scope="row">ExpressJS</td>
          <td>2 years</td>
          <td>2018</td>
        </tr>
        <tr>
          <td scope="row">Postgresql</td>
          <td>1 year</td>
          <td>2018</td>
        </tr>
        <tr>
          <td scope="row">Git</td>
          <td>5 years</td>
          <td>2018</td>
        </tr>
      </tbody>
    </table>
    <h4>Work Experience</h4>
    <p>Overall <strong>Work Experience</strong>
      in the <strong>IT/Tech</strong> Industry:
      <strong>5 years</strong>
    </p>
    <hr>
    <div class="job-details">
      <p><strong>March 2013 – March 2015:</strong> Dragonsoft Research (M)
        Sdn.Bhd, Selangor, Malaysia</p>
      <p><strong>Job Title:</strong> Software Developer</p>
      <p><strong>Job Description:</strong> I worked as an application programmer/software engineer at Dragonsoft
        Research. I mainly developed small applications
        and games in Unity3D (C#) for our clients to showcase in their events. I also developed the
        dragonsoftresearch.com (PHP
        and Javascript) website while working there</p>
    </div>
    <hr>
    <div class="job-details">
      <p><strong>May 2015 – July 2016:</strong> Dailyfresh Foods PVT LTD, Xuhui, Shanghai, China
        Sdn.Bhd, Selangor, Malaysia</p>
      <p><strong>Job Title:</strong> Software Engineer</p>
      <p><strong>Job Description:</strong> I developed and maintained a Point of Sale (POS) System for DailyFresh Foods
        shop outlets, I developed this app using
        Ionic(AngularJS) framework and used NodeJS for backend. I developed the DailyFresh foods ERP using the MEAN
        (Mongo,
        Express, AngularJs, NodeJs) Stack. I also developed the Dailyfresh Foods(PHP) website in China, however since
        they
        closed their business in China this website is no longer online.</p>
    </div>
    <hr>
    <div class="job-details">
      <p><strong>July 2016 - December 2017:</strong>EIC Education (New Pathway), Shanghai, China</p>
      <p><strong>Job Title:</strong> Software Engineer</p>
      <p><strong>Job Description:</strong> I worked as a software engineer in Juwai and I maintained and made new
        services for juwai-admin(Laravel and RPC) which
        is a custom cms for the main juwai.com website. All my projects at Juwai were done using with Laravel (PHP),
        RPC
        (Python) and Nodejs (Javascript). I also used Python libraries such as Matplotlib, Numpy and Pandas.</p>
    </div>
    <hr>
    <div class="job-details">
      <p><strong>December 2017 – April 2018:</strong> Juwai.com, Shanghai, China</p>
      <p><strong>Job Title:</strong> Software Engineer</p>
      <p><strong>Job Description:</strong> At EIC I worked on their prepsmith education platform. This website/app is
        made using Ruby on Rails for the backend and
        Angular for the frontend. I was a full-stack developer at EIC as I handled both the frontend and backend parts
        of the
        tickets that I worked on.</p>
    </div>
    <hr>
    <div class="job-details">
      <p><strong>August 2018 – November 2018:</strong>Freelance (Teaching Web Development)</p>
      <p><strong>Job Title:</strong> Web Developer</p>
      <p><strong>Job Description:</strong> Due to health related issues I decided to take a short break however to make
        sure my skills don’t deteriorate I worked
        freelance and taught Web Development. I also make a few one of websites. I learned the ins and outs of the
        latest
        Angular version and improved my Javascript skills by a lot. I am now quite proficient with ES6 Syntax,
        Typescript and
        NodeJS.</p>
    </div>
    <hr>
    <div class="references">
      <h4>References: </h4>
      <p>Paul Curtis Stinchcombe, CEO, Dragonsoft Research (M) Sdn. Bhd</p>
      <p>Tel: +603 7880 4790</p>
      <p>Fax: +603 7803 2853</p>
      <p>Email: paul@dragonsoftresearch.com</p>
      <p>Address: 17, Jalan SS7/26 Kelana Jaya, 47301 Petaling Jaya, Selangor, Malaysia.</p>
      <hr>
      <p>Gabriel Paquin, VP of Engineering, EIC Education</p>
      <p>Tel: +86 187 0210 8737</p>
      <p>Email: gabrielpaquin@eiceducation.com.cn</p>
      <p>Address: 天钥桥路30号10楼1009-1011, 200030</p>
      <hr>
      <p>Matthew Ryder, Chief Digital Officer, Juwai Limited</p>
      <p>Tel: +86 130 6262 6756</p>
      <p>Email: matthew@juwai.com</p>
    </div>
  </div>
</div>